  <!-- Footer -->

<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size9 p-t-30 p-l-15 p-r-15 respon3">

            <img src="~/Asset/images/logo-bct.png" style="width:100px" />
            <div>
                <i class='fs-16 p-t-20 fa fa-phone'>  Hỗ trợ/Mua hàng: (+84) 333 493462</i>
            </div>
        </div>



        <div class="w-size9 p-t-30 p-r-15 p-l-35 respon4">
            <h4 class="s-text12 p-b-30">
                Liên kết
            </h4>

            <ul>
             

                <li class="p-b-9">
                    <a href="@Url.Action("index","About")">
                        Về Degrey
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="@Url.Action("index","Contact")" >
                        Liên hệ
                    </a>
                </li>


            </ul>
        </div>

        <div class="w-size5 p-t-30 p-l-65 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                HỆ THỐNG CỬA HÀNG
            </h4>
            <div>
                <i class='fs-16 p-t-10 fa fa-map-marker'>  Sài Gòn: 43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận</i>
                <i class='fs-16 p-t-10 fa fa-map-marker'>  Sài Gòn: 108 Độc Lập P.Tân Thạnh Q.Tân Phú</i>
                <i class='fs-16 p-t-10 fa fa-map-marker'>  Sài Gòn: 26 Lý Tự Trọng Q.1</i>
                <i class='fs-16 p-t-10 fa fa-map-marker'>  Sài Gòn: 250/4 Lý Chính Thắng P.9 Q.3</i>
            </div>

            
        </div>

       

        <div class="w-size8 p-t-30 p-l-70 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Newsletter
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Subscribe
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="t-center p-l-15 p-r-15">
        <a href="#">
            <img class="h-size2" src="~/Asset/images/icons/paypal.png" alt="IMG-PAYPAL">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Asset/images/icons/visa.png" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Asset/images/icons/mastercard.png" alt="IMG-MASTERCARD">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Asset/images/icons/express.png" alt="IMG-EXPRESS">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Asset/images/icons/discover.png" alt="IMG-DISCOVER">
        </a>

        <div class="t-center s-text8 p-t-20">
            Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">K.H.C Team</a>
        </div>
    </div>
</footer>
